//@import 'pages/login';
.signin {
  height: 100vh;
  input {
    line-height: 1.8;
  }
  img {
    width: 320px;
  }
  h1 {
    font-weight: bold;
  }
  .footer {
    text-align: center;
  }
  .login-btn {
    width: 100%;
  }
  .card-container {
    width: 300px;
  }
}
  
  