@import '~@angular/material/theming';

// Default colors
$my-app-primary: mat-palette($mat-deep-purple, 700, 100, 800);
$my-app-accent:  mat-palette($mat-amber, 700, 100, 800);
$my-app-warn:  mat-palette($mat-red, 700, 100, 800);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);